
.container{
    margin: 5px;
    max-width: 99%;
}

header{
    width: auto;
    font-family: 'Montserrat', sans-serif;
}
#title{
    font-size: 1.25rem;
    font-weight: 800;
    color:#0b471b;
}
#headerBtn a{
    text-decoration: none;
    
}
#headerBtn a:link {
  color : #0b471b;
}
#headerBtn a:visited {
  color : #0b471b;
}
#headerBtn a:hover {
  color : #0b471b;
}
#headerBtn a:active {
  color : #0b471b
}

#mainTitle{
    margin-bottom: 3rem;
}

.productList{
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: auto;
  grid-gap: 4rem;
  margin: 3em;
  align-content: center;
  justify-content: center;

}

.productCard{
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  

  
}

.productImgBox{
  width: 200px;
  height: 200px;

  border: 1px solid rgb(216, 211, 211);
  border-radius: 15px;
  margin-bottom: 15px;
}