* {

}
.container{
    margin: 5px;
    max-width: 99%;
}

header{
    width: auto;
    font-family: 'Montserrat', sans-serif;
}
#title{
    font-size: 1.25rem;
    font-weight: 800;
    color:#0b471b;
}
#headerBtn a{
    text-decoration: none;
    
}
#headerBtn a:link {
  color : #0b471b;
}
#headerBtn a:visited {
  color : #0b471b;
}
#headerBtn a:hover {
  color : #0b471b;
}
#headerBtn a:active {
  color : #0b471b
}

#mainTitle{
    margin-bottom: 3rem;
}