<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/index.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <title>index</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <!-- description -->
            <div>
                <h1>Onion Market</h1>
            </div>
            <!-- input and button -->
            <div>
                <div>
                    <input type="text" placeholder="ID">
                </div>

                <div>
                    <input type="text" placeholder="Password">
                </div>
            </div>
            <br><br>
            <div>
                <button id="login_button">Login</button>
            </div>
            <div><button id="signup_btn">Sign Up</button></div>
        </div>
    </div>
    <script src="./js/index.js"></script>
</body>

</html>